<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Barnacle.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <userSettings>
    <Barnacle.Properties.Settings>
      <setting name="SelectedBuildPlate" serializeAs="String">
        <value>Ender 3</value>
      </setting>
      <setting name="ShowBuildPlate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowFloor" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowAxis" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowMarker" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PartLibraryPath" serializeAs="String">
        <value />
      </setting>
      <setting name="SlicerPath" serializeAs="String">
        <value>C:\Program Files\Ultimaker Cura 5.6.0</value>
      </setting>
      <setting name="LastImportFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="SlicerProfileName" serializeAs="String">
        <value />
      </setting>
      <setting name="SlicerExtruder" serializeAs="String">
        <value />
      </setting>
      <setting name="SlicerPrinter" serializeAs="String">
        <value />
      </setting>
      <setting name="SDCardLabel" serializeAs="String">
        <value>Print3D</value>
      </setting>
      <setting name="ConfirmNameAfterCSG" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RepeatHoleFixes" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowBuildVolume" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WindowXml" serializeAs="String">
        <value>"&lt;W&gt;&lt;Top&gt;208&lt;/Top&gt;&lt;Left&gt;208&lt;/Left&gt;&lt;Height&gt;729&lt;/Height&gt;&lt;Width&gt;1048&lt;/Width&gt;&lt;WindowState&gt;Maximized&lt;/WindowState&gt;&lt;/W&gt;"</value>
      </setting>
      <setting name="DialogXml" serializeAs="String">
        <value>"&lt;W&gt;&lt;Top&gt;189&lt;/Top&gt;&lt;Left&gt;358&lt;/Left&gt;&lt;Height&gt;624&lt;/Height&gt;&lt;Width&gt;1315&lt;/Width&gt;&lt;WindowState&gt;Normal&lt;/WindowState&gt;&lt;/W&gt;"</value>
      </setting>
      <setting name="AutoSaveOn" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoSaveMinutes" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ShowFloorMM" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegenerationDelay" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="UserTankTrackLinks" serializeAs="String">
        <value />
      </setting>
      <setting name="MinPrimVertices" serializeAs="String">
        <value>0</value>
      </setting>
    </Barnacle.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.1" newVersion="9.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.5.0" newVersion="4.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>