<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Barnacle.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <Barnacle.Properties.Settings>
      <setting name="SelectedBuildPlate" serializeAs="String">
        <value>Ender 3</value>
      </setting>
      <setting name="ShowBuildPlate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowFloor" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowAxis" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowMarker" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PartLibraryPath" serializeAs="String">
        <value />
      </setting>
      <setting name="SlicerPath" serializeAs="String">
        <value />
      </setting>
      <setting name="LastImportFolder" serializeAs="String">
        <value />
      </setting>
    </Barnacle.Properties.Settings>
  </userSettings>
</configuration>